/******************************************************************************/
/*	Main carousel 															  */
/******************************************************************************/

	/**************************************************************************/
	/*	Main carousel / Headers												  */
	/**************************************************************************/	

		#template-main-carousel ul.template-main-carousel>li div.template-vertical-center-inner h2
		{
			font-size:52px;
		}
		
		#template-main-carousel ul.template-main-carousel>li div.template-vertical-center-inner h4
		{
			font-size:21px;
			font-weight:400;
		}

		.littlebutton, .bigbutton 
		{
			width: 100% !important;
			display: block !important;
			margin: 9px 3px 3px 3px !important;
			padding: none !important;
		}
		.bigbutton
		{
			margin-top:-19px !important;
			/*width: 100% !important;
			display: block !important;*/
		}

					.template-nivo-slider-box .nivo-directionNav .nivo-prevNav, .template-nivo-slider-box .nivo-directionNav .nivo-nextNav 
		{
			bottom: 67% !important;	
		}