.wp-block {
    max-width: 660px;
    color: #333;
}
@media (min-width: 600px) {
    .block-editor-block-list__layout .block-editor-block-list__block[data-align="full"] {
        margin-left: auto;
        margin-right: auto;
    }   
}

.wp-block.editor-post-title__block .editor-post-title__input {
    text-align: center;
}

.wp-block .alignnone { margin: 5px 20px 20px 0;}
.wp-block .aligncenter, .wp-block div.aligncenter { display: block; margin: 5px auto 5px auto; text-align: center; }
.wp-block .alignright { float:right; margin: 5px 0 20px 20px; }
.wp-block .alignleft { float: left; margin: 5px 20px 20px 0; }
.wp-block .aligncenter { display: block; margin: 5px auto 5px auto; }

.wp-block-separator,
.wp-block-separator:not(.is-style-wide):not(.is-style-dots) {
    border: 0;
    border-bottom: 1px solid #ddd;
    clear: both;
    max-width: 100%;
}
.wp-block h1,.wp-block h2,.wp-block h3,.wp-block h4,.wp-block h5,.wp-block h6  { 
    color: #2e2f34;
    margin: 1em 0 0.5em 0; 
    font-weight: normal;
}
.wp-block h1 span,.wp-block h2 span,.wp-block h3 span,.wp-block h4 span,.wp-block h5 span,.wp-block h6 span { color: #999; }
.wp-block h1 { font-size: 38px; line-height: 1.3846153846; }
.wp-block h2 { font-size: 34px; line-height: 1; }
.wp-block h3 { font-size: 28px; line-height: 1.0909090909; }
.wp-block h4 { font-size: 24px; line-height: 1.2; }
.wp-block h5 { font-size: 20px; line-height: 1.3333333333; }
.wp-block h6 { font-size: 18px; line-height: 1.5;}

.wp-block p { margin-bottom: 20px; text-indent: 20px; }

p.lead {
    font-size: 20px;
    line-height: 1.8em;
    padding-bottom: 20px;
    padding-top: 20px;
    text-align: justify;
    text-indent: 0;
}
.jeg-dropcap {
    display: inline-block;
    font-size: 40px;
    padding-right: 5px;
    position: relative;
    top: 3px;
}

.wp-block b, .wp-block strong { font-weight: bold; }
.wp-block em, .wp-block cite { font-style: italic; }
.wp-block ul, .wp-block ol { 
    margin: 0 0 15px 30px;
    padding: 0;
}
.wp-block ol ol,
.wp-block ol ul,
.wp-block ul ul,
.wp-block ul ol { margin-bottom: 0; }
.wp-block li:not(.blocks-gallery-item) { margin: 5px 0; }
.wp-block ul li,
.wp-block ol ul li { list-style: square; }
.wp-block ol li,
.wp-block ol ul ol li { list-style: decimal; }
.wp-block dt { color: #444; font-weight: 600;}
.wp-block dd { margin-bottom: 20px; }

.wp-block ins { background: #fff486; }
.wp-block sub,.wp-block sup { font-size: 62.5%; }
.wp-block sub { vertical-align: sub; }
.wp-block sup { vertical-align: super; }

.wp-block li > ul, .wp-block li > ol {
    margin: 0 0 0 20px;
}

.wp-block blockquote {
    border-left: 10px solid #aaa;
    font-style: italic;
    padding-bottom: 1px;
    padding-left: 20px;
    padding-top: 1px;
    margin: 0 0 20px 0;
}
.wp-block blockquote p {
    margin-top: 10px;
    margin-bottom: 10px;
    text-indent: 0;
}
.wp-block hr {
    border: 0;
    border-bottom: 1px solid #ddd;
    clear: both;
}
.wp-block hr.is-style-dots {
    border-bottom: none;
}

.wp-block address {
    font-style: italic;
    margin-bottom: 24px;
}

.wp-block pre {
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    margin-bottom: 24px;
    max-width: 100%;
    overflow: auto;
    padding: 12px 20px;
    white-space: pre-wrap;
    word-wrap: break-word;
}

code,
kbd,
tt,
var,
samp,
pre {
    font-family: monospace, serif;
    font-size: 15px;
    -webkit-hyphens: none;
    -moz-hyphens:    none;
    -ms-hyphens:     none;
    hyphens:         none;
    line-height: 1.6;
}

.wp-block img.aligncenter {
    margin-top: 20px;
    margin-bottom: 20px;
}

.wp-block img.alignleft {
    padding-right: 15px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.wp-block img.alignright {
    padding-left: 15px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.wp-block .highlight {
    background: none repeat scroll 0 0 #000;
    color: #fff;
    margin: 0 5px;
    padding: 3px 7px;
}

/*  Table
/* ------------------------------------------------------------------------- */
.wp-block table { font-size: 14px; margin-bottom: 20px; width: 100%; text-align: center; }
.wp-block table tr:nth-child(odd) { background: #fbfbfb; }
.wp-block table td { 
    border: none;
    border-bottom: 1px solid #f7f7f7; 
    text-align: center; 
    vertical-align: middle; 
}
.wp-block table thead tr { background: none !important; }
.wp-block table th { font-weight: 600; text-align: center; border-top: 1px solid #f7f7f7; border-bottom: 1px solid #f7f7f7; padding: 10px 5px; }

.wp-block a  {
    color: #333;
    text-decoration: none;
    padding-bottom: 2px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    outline: 0;
}
.wp-block a:hover,
.wp-block .wp-block-button .wp-block-button__link:hover {
    background: #fff4cc;
    border-color: rgba(0, 0, 0, 0);
}

.wp-block blockquote {
    border-left: 10px solid #aaa;
    font-style: italic;
    padding-bottom: 1px;
    padding-left: 20px;
    padding-top: 1px;
    margin: 0 0 20px 0;
}
.wp-block blockquote p {
    margin-top: 10px;
    margin-bottom: 10px;
    text-indent: 0;
}
.wp-block blockquote .wp-block-quote__citation {
    font-size: 16px;
    color: #333;
    font-style: italic;
}

.wp-block-pullquote {
    border-top: none;
    border-bottom: none;
}
.wp-block-pullquote .wp-block-pullquote__citation {
    text-transform: none;
    font-style: italic;
    font-size: 16px;
    color: #333;
}